[Unit]
Description=Podux panel and FRPC stack
Requires=docker.service
After=docker.service network-online.target casaos-app-management.service
Wants=network-online.target
RequiresMountsFor=/DATA/AppData/podux
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose -f /var/lib/casaos/apps/podux/docker-compose.yml up -d --wait --wait-timeout 150
ExecStop=/usr/bin/docker compose -f /var/lib/casaos/apps/podux/docker-compose.yml stop
TimeoutStartSec=180
TimeoutStopSec=90
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
